.main-box {
    height: 290px;
    width: 290px;
    background: #f4f4f4;
    color: black;
    margin: 0 auto;
    margin-top: 130px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 1fr 1fr 1fr;
    position: relative;
}

.my-btn {
    border: 1px solid #000;
    font-size: 55px;
    text-align: center;
    height: 97px;
}

.options {
    width: 290px;
    height: 100px;
    margin: 0 auto;
    margin-top: 10px;
    background: #f4f4f4;
    border-radius: 10px;
    padding: 1px;
}

.none {
    display: none;
}

.height {
    height: 100px;
    background: red;
}

.center {
    text-align: center;

}

.x-button {
    margin-left: 35%;
    margin-right: 10px;
}

.gameover {
    background: linear-gradient(90deg, rgba(138, 209, 123, 1) 35.458984375%, rgba(137, 208, 123, 1) 35.458984375%, rgba(31, 194, 167, 1) 100.693359375%, rgba(0, 0, 0, 1) 100.693359375%);
    color: #fff;
    font-size: 2.5rem;
    text-transform: uppercase;
    position: absolute;
    top: -130px;
    left: -101px;
    height: 75px;
    width: 500px;
    display: none;
    text-align: center;
}

.reset {
    display: none;
    width: 99px;
    margin-left: 10px;
    margin-top: 25px;
}

.restart {
    display: none;
    width: 99px;
    margin-top: 30px;
    margin-left: 35px;
}

.single-player {
    margin-left: 17px;
}

.results {
    margin-left: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
}

.result-content {
    color: white;
    margin-left: 10px;
}

.card-panel {
    display: none;
    max-width: 800px;
    margin: 20px auto;
}

.cross-button {
    outline: none;
    border: none;
    padding: 10px 15px;
    background: #F44336;
    color: #FFF;
    cursor: pointer;
    text-align: center;
    z-index: 9999999;
}

.cross {
    display: flex;
    justify-content: flex-end;
}

.cross-button:hover {
    transform: scale(1.2);
}

.cross-button:active,
.cross-button:visited,
.cross-button:valid {
    background: #F44336;
}

.total-win,
.total-lose,
.total-tied {
    text-align: center;
}

.result-big {
    font-size: 30px;
    position: absolute;
    left: 45%;
    top: 135px;
}

.backgrd_res {
    opacity: 0.5;
    position: absolute;
    top: 129px;
    left: 20.7%;
    z-index: 1;
}

.line1 {
    height: 8px;
    background: linear-gradient(90deg, rgba(138, 209, 123, 1) 35.458984375%, rgba(137, 208, 123, 1) 35.458984375%, rgba(31, 194, 167, 1) 100.693359375%, rgba(0, 0, 0, 1) 100.693359375%);
    position: absolute;
    top: 37px;
    left: 33px;
}

.line2 {
    height: 8px;
    background: linear-gradient(90deg, rgba(138, 209, 123, 1) 35.458984375%, rgba(137, 208, 123, 1) 35.458984375%, rgba(31, 194, 167, 1) 100.693359375%, rgba(0, 0, 0, 1) 100.693359375%);
    position: absolute;
    top: 137px;
    left: 33px;
}

.line3 {
    height: 8px;
    background: linear-gradient(90deg, rgba(138, 209, 123, 1) 35.458984375%, rgba(137, 208, 123, 1) 35.458984375%, rgba(31, 194, 167, 1) 100.693359375%, rgba(0, 0, 0, 1) 100.693359375%);
    position: absolute;
    top: 237px;
    left: 33px;
}

.line4 {
    width: 8px;
    background: linear-gradient(90deg, rgba(138, 209, 123, 1) 35.458984375%, rgba(137, 208, 123, 1) 35.458984375%, rgba(31, 194, 167, 1) 100.693359375%, rgba(0, 0, 0, 1) 100.693359375%);
    position: absolute;
    top: 25px;
    left: 45px;
}

.line5 {
    width: 8px;
    background: linear-gradient(90deg, rgba(138, 209, 123, 1) 35.458984375%, rgba(137, 208, 123, 1) 35.458984375%, rgba(31, 194, 167, 1) 100.693359375%, rgba(0, 0, 0, 1) 100.693359375%);
    position: absolute;
    top: 25px;
    left: 142px;
}

.line6 {
    width: 8px;
    background: linear-gradient(90deg, rgba(138, 209, 123, 1) 35.458984375%, rgba(137, 208, 123, 1) 35.458984375%, rgba(31, 194, 167, 1) 100.693359375%, rgba(0, 0, 0, 1) 100.693359375%);
    position: absolute;
    top: 25px;
    left: 240px;
}

.line7 {
    width: 10px;
    background: linear-gradient(90deg, rgba(138, 209, 123, 1) 35.458984375%, rgba(137, 208, 123, 1) 35.458984375%, rgba(31, 194, 167, 1) 100.693359375%, rgba(0, 0, 0, 1) 100.693359375%);
    position: absolute;
    top: -5px;
    left: 155px;
    transform: rotate(45deg);
}

.line8 {
    width: 10px;
    background: linear-gradient(90deg, rgba(138, 209, 123, 1) 35.458984375%, rgba(137, 208, 123, 1) 35.458984375%, rgba(31, 194, 167, 1) 100.693359375%, rgba(0, 0, 0, 1) 100.693359375%);
    position: absolute;
    top: -5px;
    left: 140px;
    transform: rotate(135deg);
}

.main-box {
    position: relative;
}
.main-heading{
    position: absolute;
    top: 10px;
    left: 32%;
    color: lightgreen;
    font-weight: 500;
    font-size: 50px;
    display: none;
}
